BoardGame/BoardGame/Debug/dllmain.obj
BoardGame/BoardGame/Debug/BoardGame.tlog/link.write.1.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/link.read.1.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/link.command.1.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/CL.write.1.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/CL.read.1.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/CL.command.1.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/BoardGame.write.1u.tlog
BoardGame/BoardGame/Debug/BoardGame.tlog/BoardGame.lastbuildstate
BoardGame/BoardGame/Debug/BoardGame.pdb
BoardGame/BoardGame/Debug/BoardGame.pch
BoardGame/BoardGame/Debug/BoardGame.obj
BoardGame/BoardGame/Debug/BoardGame.log
BoardGame/BoardGame/Debug/BoardGame.lib
BoardGame/BoardGame/Debug/BoardGame.ilk
BoardGame/BoardGame/Debug/BoardGame.exp
BoardGame/BoardGame/Debug/BoardGame.dll
BoardGame/.vs/BoardGame/v15/Solution.VC.db-wal
BoardGame/.vs/BoardGame/v15/Solution.VC.db-shm
BoardGame/.vs/BoardGame/v15/Solution.VC.db
BoardGame/.vs/BoardGame/v15/Browse.VC.opendb
BoardGame/.vs/BoardGame/v15/Browse.VC.db
BoardGame/.vs/BoardGame/v15/.suo
BoardGame/bin/debug/Qt.exe
BoardGame/bin/debug/D3Dcompiler_47.dll
BoardGame/bin/debug/BoardGame.lib
BoardGame/bin/debug/BoardGame.dll
BoardGame/bin/Makefile.Release
BoardGame/bin/Makefile.Debug
BoardGame/bin/Makefile
BoardGame/bin/.qmake.stash
BoardGame/BoardGameTests/x64/Debug/vc141.pdb
BoardGame/BoardGameTests/x64/Debug/vc141.idb
BoardGame/BoardGameTests/x64/Debug/stdafx.obj
BoardGame/bin/debug/moc_predefs.h
BoardGame/bin/debug/moc_mainwindow.obj
BoardGame/bin/debug/moc_mainwindow.cpp
BoardGame/bin/debug/mainwindow.obj
BoardGame/bin/debug/main.obj
BoardGame/bin/debug/libGLESV2d.dll
BoardGame/bin/debug/libEGLd.dll
BoardGame/bin/debug/imageformats/qwebpd.dll
BoardGame/bin/debug/imageformats/qwbmpd.dll
BoardGame/bin/debug/imageformats/qtiffd.dll
BoardGame/bin/debug/imageformats/qtgad.dll
BoardGame/bin/debug/imageformats/qsvgd.dll
BoardGame/bin/debug/imageformats/qjpegd.dll
BoardGame/bin/debug/imageformats/qicod.dll
BoardGame/bin/debug/imageformats/qicnsd.dll
BoardGame/bin/debug/imageformats/qgifd.dll
BoardGame/bin/debug/iconengines/qsvgicond.dll
BoardGame/bin/debug/Qt5Widgetsd.dll
BoardGame/bin/debug/Qt5Svgd.dll
BoardGame/bin/debug/Qt5Guid.dll
BoardGame/bin/debug/Qt5Cored.dll
BoardGame/bin/debug/Qt.vc.pdb
BoardGame/bin/debug/Qt.pdb
BoardGame/bin/debug/Qt.ilk
BoardGame/x64/Debug/BoardGameTests.exe
BoardGame/bin/ui_mainwindow.h
BoardGame/bin/debug/translations/qt_uk.qm
BoardGame/bin/debug/translations/qt_sk.qm
BoardGame/bin/debug/translations/qt_ru.qm
BoardGame/bin/debug/translations/qt_pl.qm
BoardGame/bin/debug/translations/qt_lv.qm
BoardGame/bin/debug/translations/qt_ko.qm
BoardGame/bin/debug/translations/qt_ja.qm
BoardGame/bin/debug/translations/qt_it.qm
BoardGame/bin/debug/translations/qt_hu.qm
BoardGame/bin/debug/translations/qt_he.qm
BoardGame/bin/debug/translations/qt_gd.qm
BoardGame/bin/debug/translations/qt_fr.qm
BoardGame/bin/debug/translations/qt_fi.qm
BoardGame/bin/debug/translations/qt_es.qm
BoardGame/bin/debug/translations/qt_en.qm
BoardGame/bin/debug/translations/qt_de.qm
BoardGame/bin/debug/translations/qt_da.qm
BoardGame/bin/debug/translations/qt_cs.qm
BoardGame/bin/debug/translations/qt_ca.qm
BoardGame/bin/debug/translations/qt_bg.qm
BoardGame/bin/debug/platforms/qwindowsd.dll
BoardGame/bin/debug/opengl32sw.dll
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/link.write.1.tlog
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/link.read.1.tlog
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/link.command.1.tlog
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/CL.write.1.tlog
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/CL.read.1.tlog
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/CL.command.1.tlog
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.tlog/BoardGameTests.lastbuildstate
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.pch
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.obj
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.log
BoardGame/BoardGame/Debug/vc141.pdb
BoardGame/BoardGame/Debug/vc141.idb
BoardGame/x64/Debug/BoardGameTests.pdb
BoardGame/x64/Debug/BoardGameTests.ilk
BoardGame/BoardGame/Debug/stdafx.obj
BoardGame/BoardGame/Debug/RandomNumber.obj
BoardGame/BoardGame/Debug/BoardGame.Build.CppClean.log
BoardGame/.vs/BoardGame/v15/ipch/f92dce9f2c0af263.ipch
BoardGame/.vs/BoardGame/v15/ipch/ea39927bf4cbe903.ipch
BoardGame/.vs/BoardGame/v15/ipch/76274274b051c9e8.ipch
BoardGame/x64/Release/BoardGameTests.pdb
BoardGame/BoardGame/Release/BoardGame.tlog/CL.command.1.tlog
BoardGame/BoardGame/Release/BoardGame.tlog/BoardGame.write.1u.tlog
BoardGame/BoardGame/Release/BoardGame.tlog/BoardGame.lastbuildstate
BoardGame/BoardGame/Release/BoardGame.pdb
BoardGame/BoardGame/Release/BoardGame.pch
BoardGame/BoardGame/Release/BoardGame.obj
BoardGame/BoardGame/Release/BoardGame.log
BoardGame/BoardGame/Release/BoardGame.lib
BoardGame/BoardGame/Release/BoardGame.ipdb
BoardGame/BoardGame/Release/BoardGame.iobj
BoardGame/BoardGame/Release/BoardGame.exp
BoardGame/BoardGame/Release/BoardGame.dll
BoardGame/x64/Release/BoardGameTests.ipdb
BoardGame/x64/Release/BoardGameTests.iobj
BoardGame/x64/Release/BoardGameTests.exe
BoardGame/bin/release/BoardGame.lib
BoardGame/bin/release/BoardGame.dll
BoardGame/BoardGameTests/x64/Release/vc141.pdb
BoardGame/BoardGameTests/x64/Release/stdafx.obj
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/link.write.1.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/link.read.1.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/link.command.1.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/CL.write.1.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/CL.read.1.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/CL.command.1.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/BoardGameTests.write.1u.tlog
BoardGame/BoardGameTests/x64/Release/BoardGameTests.tlog/BoardGameTests.lastbuildstate
BoardGame/BoardGameTests/x64/Release/BoardGameTests.pch
BoardGame/BoardGameTests/x64/Release/BoardGameTests.obj
BoardGame/BoardGameTests/x64/Release/BoardGameTests.log
BoardGame/BoardGameTests/x64/Debug/RandomNumberTests.obj
BoardGame/BoardGameTests/x64/Debug/RandomNumber.obj
BoardGame/BoardGameTests/x64/Debug/BoardGameTests.Build.CppClean.log
BoardGame/BoardGame/Release/vc141.pdb
BoardGame/BoardGame/Release/stdafx.obj
BoardGame/BoardGame/Release/dllmain.obj
BoardGame/BoardGame/Release/BoardGame.tlog/link.write.1.tlog
BoardGame/BoardGame/Release/BoardGame.tlog/link.read.1.tlog
BoardGame/BoardGame/Release/BoardGame.tlog/link.command.1.tlog
BoardGame/BoardGame/Release/BoardGame.tlog/CL.write.1.tlog
BoardGame/BoardGame/Release/BoardGame.tlog/CL.read.1.tlog
